In [14]:
import pandas as pd

insuranceData = pd.read_csv("sets/insurance_raw.csv")

sexes = ["female", "male"]
smoker = ["no", "yes"]
regions = ["northeast", "southeast", "southwest", "northwest"]

# Remove rows with missing values
insuranceData = insuranceData.dropna()

# Remove duplicate rows
insuranceData = insuranceData.drop_duplicates()

# Remove rows with bad or impossible data
ageFilter = insuranceData["age"].between(0, 130)
insuranceData = insuranceData[ageFilter]

sexFilter = insuranceData["sex"].isin(sexes)
insuranceData = insuranceData[sexFilter]

bmiFilter = insuranceData["bmi"].between(7, 200)
insuranceData = insuranceData[bmiFilter]

smokerFilter = insuranceData["smoker"].isin(smoker)
insuranceData = insuranceData[smokerFilter]

regionFilter = insuranceData["region"].isin(regions)
insuranceData = insuranceData[regionFilter]

costFilter = insuranceData["charges"].gt(0)
insuranceData = insuranceData[costFilter]

# One hot encode some features to put them in more usable format
insuranceData["sex"].replace(sexes, [0, 1], inplace = True)
insuranceData["smoker"].replace(smoker, [0, 1], inplace = True)
insuranceData["region"].replace(regions, [0, 1, 2, 3], inplace = True)

insuranceData.to_csv("sets/insurance_clean.csv", index = False)
insuranceData

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       2  16884.92400
1      18    1  33.770         1       0       1   1725.55230
2      28    1  33.000         3       0       1   4449.46200
3      33    1  22.705         0       0       3  21984.47061
4      32    1  28.880         0       0       3   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       3  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       1   1629.83350
1336   21    0  25.800         0       0       2   2007.94500
1337   61    0  29.070         0       1       3  29141.36030

[1337 rows x 7 columns]