In [5]:
import pandas as pd

# TODO: Add ann results to table
r2Table = pd.DataFrame()
mseTable = pd.DataFrame()

r2Table["All Cost"] = [0.751, 0.850, 0.851]
r2Table["High Cost"] = [0.524, 0.837, 0.848]
r2Table["Low Cost"] = [0.871, 0.880, 0.894]

mseTable["All Cost"] = [0.286, 0.172, 0.171]
mseTable["High Cost"] = [0.403, 0.138, 0.129]
mseTable["Low Cost"] = [0.137, 0.127, 0.113]

r2Table.index = ["Linear Regression", "Random Forest", "XGBoost"]
mseTable.index = ["Linear Regression", "Random Forest", "XGBoost"]

In [8]:
r2Table.head()

                   All Cost  High Cost  Low Cost
Linear Regression     0.751      0.524     0.871
Random Forest         0.850      0.837     0.880
XGBoost               0.851      0.848     0.894

In [9]:
mseTable.head()

                   All Cost  High Cost  Low Cost
Linear Regression     0.286      0.403     0.137
Random Forest         0.172      0.138     0.127
XGBoost               0.171      0.129     0.113

In [13]:
### Plot actual vs predicted for best combined cost model ###

In [14]:
### Plot actual vs predicted for best high cost model ###

In [15]:
### Plot actual vs predicted for best low cost model ###